.g1-block
  using-flex(column, center, center)
  max-width 400px
  width 100%
  box-sizing border-box
  text-align center
  overflow hidden
  // padding-top 25px
  border 1px solid #fbe4cc
  cursor pointer
  transition all 400ms ease
  height 205px
  overflow hidden
  position relative
  h3
    font-size 15px
    font-family t-3
    color c-1
    margin-bottom 15px
    max-width 225px
    margin 0
    line-height 1.2
  figure
    img
      max-width 100%
      height auto
  @media screen and (min-width 1025px)
    &:hover
      background c-1
      transition all 400ms ease
      border rgba(239, 122, 18, 0)
      border-bottom 1px solid c-0
      h3
        color c-5
      .g1-linkdetalle
        transform translateY(0%)
        opacity 1
        visibility visible
        transition all 400ms ease
      .g1-imghover
        display block
        margin 0
        margin-top -43px
      .g1-imgprincipal
        display none
.g1-imgprincipal
  margin 0
.g1-linkdetalle
  margin-top 52px
  background c-0
  width 100%
  opacity 0
  visibility hidden
  transform translateY(102%)
  transition all 400ms ease
  padding 4.5px
  box-sizing border-box
  position absolute
  bottom 0
  left 0
  h6
    color white
    font-size 14px
    font-family t-3
    display block
    text-transform uppercase
    position relative
    &:after
      content '\e606'
      font-family icomoon
      font-size 18px
      background c-5
      border-radius 50%
      position relative
      // top 50%
      top 0px
      left 13px
      font-weight bold
      color c-0
      // transform translateY(-50%)
.g1-imghover
  display none
  position relative
// @media screen and (max-width 1366px)
//   .g1-block
//     background c-1
//     transition all 400ms ease
//     border rgba(239, 122, 18, 0)
//     border-bottom 1px solid c-0
//     h3
//       color c-5
//     .g1-linkdetalle
//       transform translateY(0%)
//       opacity 1
//       visibility visible
//       transition all 400ms ease
//     .g1-imghover
//       display block
//     .g1-imgprincipal
//       display none

@media screen and (max-width 1024px)
  .g1-block
    border-bottom 0px
    background c-5
    border 1px solid #fbe4cc
    .g1-imghover
      display none
    .g1-imgprincipal
      display block
    h3
      color c-1
  .g1-linkdetalle
    margin-bottom 20px
    background c-5
    opacity 1
    visibility visible
    transform translateY(7%)
    a
      color c-0
      &:after
        color c-5
        background c-0
@media screen and (max-width 768px)
  .g1-block 
    h3 
      font-size 14px
