.b15
	height calc(100vh - 206px)
	display flex
	align-items: center;	
	.wancho
		text-align: center
	.g0-btn 
		.icon-flecha-btn
			transform rotate(180deg)	
			&:before
				top -3px					
.b15-bloque
	h2
		font-family t-1
		font-size 240px
		color #ef7a12
		margin-bottom 0
		// padding-bottom 35px
		padding-bottom 12px
	p
		margin-bottom 0px
		&:nth-of-type(1)
			max-width 296px
			margin 0px auto
			font-family t-3
			font-size 18px
			color #4d4f53
			border-bottom  1px solid #fbf0e5
			padding-bottom 14px
			margin-bottom 70px
		&:nth-of-type(2)
			font-family t-3
			font-size 14px
			color #404040
			padding-bottom 39px
.b15-link
	text-align center
	.g0-btn
		height 50px
		width 195px
		display inline-block
@media screen and (max-width 1024px)
	.b15-bloque 
		h2 
			font-size 120px	
@media screen and (max-width 960px)
	.b15-bloque
		h2 
			font-size 110px
@media screen and (max-width 768px)
	.b14-bloque
		h2 
			font-size 90px
@media screen and (max-width 640px)
	.b15-bloque 
		p
			&:nth-of-type(1)	
				margin-bottom 20px
			&:nth-of-type(2)	
				padding-bottom 30px
	.b15-bloque 
		h2
			font-size 80px
			// padding-bottom 0
	.b15
		height auto
		padding-top 45px
		padding-bottom 45px		
@media screen and (max-width 480px)
	.b15-bloque 
		h2
			font-size 70px	
			margin-bottom 10px
		p
			&:nth-of-type(2)
				padding-bottom 20px
			&:nth-of-type(1)
				font-size 17px