.b4
	background-color c-5
	box-sizing border-box
	padding-top 62px
	padding-bottom 77px
	// background-color red
	.g3-titulo
		text-transform uppercase
		text-align center
		padding-bottom 54px
		margin-bottom 0
.b4-item
	img
		max-width 100%
		height auto
		display block
.b4-null-carrusel
	font-size 0px
	text-align center
	li
		display inline-block
		width 16.66666666666667%
		&:last-child
			img
				padding-right 0
		img
			padding-right 28px
			height auto
			display block
			max-width 100%

.b4-link
	text-align center
	padding-top 36px
	.g0-btn 
		display inline-block
// @media screen and (max-width 1024px)
// 	.b4
// 		padding-top 20px
// 		padding-bottom 20px		
// 		.g3-titulo
// 			padding-bottom 15px
// 	.b4-link
// 		padding-top 15px
@media screen and (max-width 768px)
	.b4 
		padding 50px 0
		.g3-titulo
			font-size 25px
			padding-bottom 35px
@media screen and (max-width 480px)
	.b4 
		padding 33px 0 30px
		.g3-titulo
			font-size 20px
			padding-bottom 25px
