.b6
	box-sizing border-box
	padding-bottom 46px
	padding-top 37px
	// background-color red
.b6-texto
	max-width 590px
	margin 0 auto
	font-family t-3
	font-size 18px
	color c-4
	padding-bottom 35px
	text-align center
	p
		margin-bottom 0
.b6-bloques
	font-size 0px
	text-align center
	position relative
	using-flex(row, flex-start, flex-start)
	&:before, &:after
		content ''
		width 100%
		height 1px
		background-color #fbe4cc
		position absolute
		left 0
	&:before
		top 0
	&:after
		bottom 0
.b6-cliente-item	
	display inline-block
	width 16.66666666666667%
	margin 0
	// overflow hidden
	a		
		position relative
		overflow hidden
		display flex
		// border-left 1px solid rgba(235,121,0,0.2)
		// border-bottom 1px solid rgba(235,121,0,0.2)
		border-right 1px solid rgba(235,121,0,0.2)
		border-bottom 1px solid rgba(235,121,0,0.2)
		height 205px
		width 100%
		align-items: center
	img
		display block
		height auto
		max-width 100%
		@media screen and (min-width 1024px)
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%)
			transition: all 400ms ease;	
	// &:nth-child(-n+6)
	// 	a
	// 		border-top 1px solid rgba(235, 121, 0, 0.2);
	// &:last-child
	// 	a
	// 		border-right 1px solid rgba(235, 121, 0, 0.2);	
	@media screen and (min-width 1301px)
		&:nth-child(6n + 6)
			a
				border-right 0
	@media screen and (min-width 1071px) and (max-width 1300px)
		&:nth-child(5n + 5)
			a
				border-right 0
	@media screen and (min-width 1025px) and (max-width 1070px)
		&:nth-child(4n + 4)
			a
				border-right 0
	@media screen and (min-width 721px) and (max-width 1024px)
		&:nth-child(3n + 3)
			a
				border-right 0
	@media screen and (min-width 421px) and (max-width 720px)
		&:nth-child(2n + 2)
			a
				border-right 0
	@media screen and (max-width 420px)
		&:nth-child(1n + 1)
			a
				border-right 0
	@media screen and (min-width 1025px)
		&:hover
			cursor pointer
			.b4-link-detalle
				transform: translateY(0%);	
				transition: all 400ms ease;	
				opacity 1
				visibility: visible; 	
			img
				filter: grayscale(0%);
				transition: all 400ms ease;	
				-webkit-filter: grayscale(0%)
.b4-link-detalle
	position absolute
	bottom 0px
	left 0px
	width 100%
	font-size 12px
	background-color #eb7900
	font-family t-3
	color white
	height 29px
	display: flex;
	align-items: center;
	@media screen and (min-width 1024px)
		visibility: hidden;
		opacity 0
		transform: translateY(100%);
		transition: all 400ms ease;
	span
		position relative
	i
		display block
		width 16px
		height 16px
		background white
		position absolute
		right -24px
		top 1px	
		bottom 0px
		margin auto
		border-radius 50%		
		&:before
			font-size 17px	
			position absolute
			right -2px
			top 0px
			bottom 0px
			left 0px
			color #eb7901
			margin auto
.b6-link
	padding-top 50px
	text-align center
	.g0-btn
		display inline-block
			
.b6-clientes
	position relative
	overflow hidden
	&:before
		content ""
		top 0px
		left 0px
		background white
		height 100%
		width 1px
		position absolute
	&:after
		content ""
		top 0px
		left 0px
		background white
		height 100%
		width 1px
		position absolute
@media screen and (max-width 1300px)
	.b6-cliente-item
		width 20%	
@media screen and (max-width 1070px)
	.b6-cliente-item
		width 25%
@media screen and (max-width 1024px)
	.b6-link
		padding-top 40px
	.b6
		padding-top 40px
		padding-bottom 40px
		.b4-link-detalle
			background-color transparent
			opacity 1
			visibility visible
			transform translateY(-18px)
			span 
				color #ef7a12
				font-size 14px
				i 
					&:before
						width 18px 
						height 18px
						font-size 18px
						background-color #ef7a12
						color white
						border-radius 50%
	.b6-texto
		padding-bottom 25px
	.b6-cliente-item
		width 33.33333333333%
	.b6-figure
		margin -40px auto 0
@media screen and (max-width 768px)
	.b6 
		padding-top 30px 
		padding-bottom 30px	
@media screen and (max-width 720px)
	.b6-cliente-item
		width 50%
@media screen and (max-width 480px)
	.b6-texto 
		p 
			font-size 15px	
@media screen and (max-width 420px)
	.b6-cliente-item
		width 100%
		display block
	.b6-clientes
		&:before, &:after
			display none	
	// .b6-cliente-item 
	// 	a
	// 		border-left 0		