{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 11 -->
<section class="b11-valores">
	<div class="wancho">
	<h2 class="g-general-title text-center">Nuestros <span>Valores</span></h2>
	
		<div class="b8-nuestro-valores-lista">
			<ul>

				<li>
					<div class="item-valores">
						<i class="icon-11"></i>
						<h4>Trabajo en equipo</h4>
						<div class="informacion">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit
						</div>
					</div>
				</li>

				<li>
					<div class="item-valores">
						<i class="icon-22"></i>
						<h4>Trabajo en equipo</h4>
						<div class="informacion">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit
						</div>
					</div>
				</li>
				<li>
					<div class="item-valores">
						<i class="icon-11"></i>
						<h4>Trabajo en equipo</h4>
						<div class="informacion">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit
						</div>
					</div>
				</li>

			</ul>
		</div>
	</div>
</section>



{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
