{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 2 -->
<section class="b2">
	<div class="wancho">	 	
		<div class="b2-block-general text-center">
	 		<h2 class="g-general-title">Nuestros <span>servicios</span></h2>
	 	</div>
		<div class="b2-lista-servicio row">
			<ul class="b2-padre-listado">
				<li>
					<a href="servicios.html">
						<div class="b2-item-lista-servicio">
							<div class="position-relative">
							<img class="b2-img-list-servicio" src="{{STATIC_URL}}img/img.png" alt="">
								<div class="b2-hover-lista-servicio">
								<img class="b2-img-figura" src="{{STATIC_URL}}img/hover.png" alt="">	
									<div class="b2-interna-hover">
									<div class="b2-figura-geo"></div>
									<div class="b2-icons-title">
										<div class="b2-imagen-icons-servicio"><img src="{{STATIC_URL}}img/b2-icons.png" ></div>										
										<div class="b2-title-servicio">
											<h4>
													Gerencia <br> De Proyectos
											</h4>
										</div>	
									</div>

										<div class="b2-general-btn">									
											<span href="" class="g-btn-2">Leer más</span>
										</div>

									</div>
								</div>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="servicios.html">
						<div class="b2-item-lista-servicio">
							<div class="position-relative">
							<img class="b2-img-list-servicio" src="{{STATIC_URL}}img/img.png" alt="">
								<div class="b2-hover-lista-servicio">
								<img class="b2-img-figura" src="{{STATIC_URL}}img/hover.png" alt="">	
									<div class="b2-interna-hover">
								
									<div class="b2-icons-title">
										<div class="b2-imagen-icons-servicio"><img src="{{STATIC_URL}}img/b2-icons.png" ></div>										
										<div class="b2-title-servicio">
											<h4>
													Análisis y <br> Diseño Estructural
											</h4>	
										</div>	
									</div>

										<div class="b2-general-btn">									
											<span href="" class="g-btn-2">Leer más</span>
										</div>

									</div>
								</div>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="servicios.html">
						<div class="b2-item-lista-servicio">
							<div class="position-relative">
							<img class="b2-img-list-servicio" src="{{STATIC_URL}}img/img.png" alt="">
								<div class="b2-hover-lista-servicio">
								<img class="b2-img-figura" src="{{STATIC_URL}}img/hover.png" alt="">	
									<div class="b2-interna-hover">
									<div class="b2-figura-geo"></div>
									<div class="b2-icons-title">
										<div class="b2-imagen-icons-servicio"><img src="{{STATIC_URL}}img/b2-icons.png" ></div>										
										<div class="b2-title-servicio">
											<h4>
													Análisis y <br> Diseño Estructural
											</h4>
										</div>	
									</div>

										<div class="b2-general-btn">									
											<span href="" class="g-btn-2">Leer más</span>
										</div>

									</div>
								</div>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>	

		<div class="block-general text-center"> 
		 	<a href="servicios.html" class="g-btn-1">Conoce nuestro servicios > </a>	 			
		</div>
	</div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){
	
	});
</script>
{% endblock %}