{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 21 -->

<section class="b21">
	<div class="wancho">
		<ul class="b21-listmenu">
			<li><a href=""></a></li>
			<li class="active"><a href="">Todas las noticias</a></li>
		</ul>
		<div class="b21-title-redes">
			<div class="b21-title">
				<h3>Gerencia de Proyecto - título de la noticia</h3>
				<span>06 de febrero del  2016</span>
			</div>
			<div class="b21-redessociales">
				<i class="icon-38 b21-icon"></i>
				<i class="icon-39 b21-icon"></i>
				<i class="icon-40 b21-icon"></i>
			</div>
		</div>
		<figure class="b21-imagen">
			<img src="{{STATIC_URL}}media/b21-img.jpg" alt="" width="771" height="403">
		</figure>
		<div class="b21-texto">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ligula quam, suscipit non bibendum eget, imperdiet at tellus. Praesent finibus id arcu et vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In suscipit dui arcu, eu tempus lacus egestas eget. Sed eu luctus sem, at volutpat dolor. Nunc sagittis nisl venenatis lectus rutrum, a facilisis nulla dignissim. Proin iaculis ac lorem in rutrum. Suspendisse suscipit, odio sed convallis mattis, nibh arcu laoreet mi, et tincidunt felis dolor nec justo. Ut feugiat velit urna, ut tincidunt turpis hendrerit vel. Ut at consectetur ante. Vestibulum molestie orci a nibh vulputate, suscipit ullamcorper sem aliquam. Proin blandit eleifend odio, id vehicula dui suscipit vitae. In sit amet odio magna. Morbi eget augue maximus, congue lectus sit amet, tincidunt dui.</p>
		</div>
		<div class="b21-btn">
 			<a href="" class="g-btn-1">Volver<i class="icon-4"></i></a>
		</div>

	</div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
