{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}
{% block content %}

<!-- BLOQUE 24 -->

<section class="b24" style="background-image: url('{{STATIC_URL}}media/b23-fondo-form.png')">

	<div class="wancho">
		<figure class="b24-imagen">
			<img src="{{STATIC_URL}}media/b23-imagen-persona.png" alt="" width="" height="">
		</figure>
		<div class="b24-gracias">
			<div class="b24-title">
				<span>¡ Gracias por escribirnos!</span>
			</div>
			<div class="b24-span">
				<span>Tu mensaje ha sido enviado con éxito.</span>
			</div>
			<div class="b24-texto">
				<p>Muchas gracias por contactarte con nosotros, en breves instantes uno de nuestros colabores se pondrá en contacto contigo para poder resolver todas tus dudas y consultas.</p>
				<p>Te invitamos a seguir navegando por nuestra web para conocer mas acerca de nosotros y de los  servicios que te ofrecemos.</p>
			</div>
			<div class="b24-btn">
 				<a href="" class="g-btn-1">Volver al inicio</a>
			</div>

		</div>
	</div>

</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
