{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 25 -->

<section class="b25" style="background-image: url('{{STATIC_URL}}media/b23-fondo-form.png')">

	<div class="wancho">
		<div class="b25-error">
			<div class="b25-title">
				<h3>Lo sentimos</h3>
			</div>
			<div class="b25-span">
				<span>ERROR 404</span>
			</div>
			<div class="b25-texto">
				<p>Parece que hubo un error, lo sentimos. Puede que la ruta que estés </p>
				<p>buscando no exista o el enlace este roto. Te invitamos a seguir navegando.</p>
			</div>
			<div class="b25-btn">
 				<a href="" class="g-btn-1">Volver al inicio</a>
			</div>

		</div>
	</div>

</section>



{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
