{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<section class="b5">
	<div class="wancho">
		<h2 class="g-general-title text-center">Entérate de <span>lo último</span></h2>
			<div class="b5-ultimos-articulos">
				<ul>
					<li>
						<a href="#">
							<div class="b5-item-articulos" style="background-image: url('{{STATIC_URL}}img/slider-home.jpg') ;">
								<div class="b5-fondo-item">
									<div class="row not-row">
										<i class="icon-11"></i>
										<div class="b5-fecha">25 / 07 / 06</div>
										<div class="b5-parrafo">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor
										</div>
									</div>
								</div>
							</div>	
						</a>
					</li>

					<li>
						<a href="#">
							<div class="b5-item-articulos" style="background-image: url('{{STATIC_URL}}img/slider-home.jpg') ;">
								<div class="b5-fondo-item">
									<div class="row not-row">
										<i class="icon-11"></i>
										<div class="b5-fecha">25 / 07 / 06</div>
										<div class="b5-parrafo">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor
										</div>
									</div>
								</div>
							</div>	
						</a>
					</li>
					<li>
						<a href="#">
							<div class="b5-item-articulos" style="background-image: url('{{STATIC_URL}}img/slider-home.jpg') ;">
								<div class="b5-fondo-item">
									<div class="row not-row">
										<i class="icon-11"></i>
										<div class="b5-fecha">25 / 07 / 06</div>
										<div class="b5-parrafo">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor
										</div>
									</div>
								</div>
							</div>	
						</a>
					</li>
					<li>
						<a href="#">
							<div class="b5-item-articulos" style="background-image: url('{{STATIC_URL}}img/slider-home.jpg') ;">
								<div class="b5-fondo-item">
									<div class="row not-row">
										<i class="icon-11"></i>
										<div class="b5-fecha">25 / 07 / 06</div>
										<div class="b5-parrafo">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor
										</div>
									</div>
								</div>
							</div>	
						</a>
					</li>
				</ul>
			</div>
	</div>
</section>



{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
