{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 7 -->
<footer class="b7-footer">
	<div class="b7-wancho wancho">
		<div class="b7-col-footer">
			<img src="../../static/img/logo.png" />
			<div class="b7-telefono-footer">
				<p>(51) 555 6789 / (51) 555 6789</p>
			</div>
			<p> <a href="mailto:info@steelser.com"><i class="icon-14"></i> info@steelser.com </a></p>
			<p><i class="icon-15"></i> Av. Encalada 271 Monterrico - Santiago de Sur</p>

			<div class="b7-redes-bottom">
				<ul>
					<li><a href="#"><i class="icon-16"></i></a></li>
					<li><a href="#"><i class="icon-17"></i></a></li>
					<li><a href="#"><i class="icon-18"></i></a></li>
					<li><a href="#"><i class="icon-19"></i></a></li>
					<li><a href="#"><i class="icon-20"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="b7-col-footer">
			<h4><i class="icon-12"></i> <span>Mapa de sitio</span></h4>
				<div class="b7-bloque-interno">
					<ul class="b7-mapa-sitio"> 
						<li><a href="">Nosotros</a></li>
						<li><a href="">Servicios</a></li>
						<li><a href="">Obras</a></li>
						<li><a href="">Blog</a></li>
						<li><a href="">Contacto</a></li>
						<li><a href="">Trabaja con nosotros</a></li>

					</ul>
				</div>
		</div>
		<div class="b7-col-footer">
			<h4><div><i class="icon-13"></i> <span>Suscribete</span></div></h4>	
				<div class="b7-bloque-interno">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<form class="b7-formulario-suscribete">
						<input type="" class="b7-form-control" placeholder="Nombre" name="">
						<input type="" class="b7-form-control" placeholder="E-mail" name="">
						<div class="b7-btn-footer">
							<a href="" class="g-btn-1">Enviar <i class="icon-4"></i> </a>
						</div>
					</form>
				</div>	
		</div>
	</div>
	<div class="b7-copy-footer">
		<div  class="wancho">
			<div class="b7-col-md-6">
				Copyright © 2016 Steelser. Todos los derechos reservados.
			</div>
			<div class="b7-col-md-6">
				<a href="#">Staff Creativa</a> | Diseño de Páginas Web
			</div>		
		</div>
	</div>
</footer>




{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
