{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 8 -->

<section class="b8">
		<div class="b8-bannder-nosotros" style="background-image: url('../../static/img/b8-fondo-banner.jpg') ">
		<div class="wancho">
			<div class="b8-conoce-nosotros-titulo">
				<h1>Conoce Más</h1>
				<div class="block-general padding-0">
					<a href="" class="g-btn-1">Sobre nosotros </a>
				</div>
			</div>
		</div>
	</div>
</section>



{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
