{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 9 -->

	<section class="b9">
		<div class="wancho">
			<div class="b9-wrapper">
				<div class="b9-title">
					<h2 class="g-general-title">Conoce más <span>sobre Steelser</span></h2>
				</div>
				<div class="b9-span">
					<span>En Steelser buscamos optimizar nuestro trabajo otorgándole la asesoría necesaria al cliente, muchas veces, concertamos con los propietarios algunos cambios en el diseño básico para mejorar el diseño final y la eficiencia del proyecto.</span>
				</div>
				<div class="b9-texto">
					<p>La rapidez con la que se requieren ejecutar los proyectos ha llevado a que se use el acero como una alternativa rápida, segura y resistente. Las construcciones metálicas, presentes en casi todos los sectores productivos del país, permiten lograr soluciones de gran envergadura aportando de manera generosa al desarrollo de grandes obras.</p>
					<p>
					La mejora continua en el diseño estructural, detallamiento, fabricación y montaje esta siempre presente en Steelser, aplicando la Filosofía Lean Construction y la metodología de gestión basada en PMI.</p>
				</div>

				<div class="b9-btn">
	 				<a href="" class="g-btn-1">Descarga nuestro brochure institucional &gt; </a>
				</div>
			</div>
			<figure class="b9-imagen">
				<img src="{{STATIC_URL}}media/b9-imagen.png" alt="" width="856" height="237">
			</figure>
		</div>
	</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
