{% extends "../common/_base3.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}
 


<!-- generales -->
<div class="block-general"> 
 	<a href="" class="g-btn-1">Link general <i class="icon-4"></i> </a>	 			
</div>

<div class="block-general"> 
 	<a href="" class="g-btn-2">Link general</a>	 			
</div>

<!--
 <div class="block-general">
	 <h4><i>Aqui</i> otra clase <span>general</span></h4>	 			
</div>
-->
<div class="block-general">
	 <h2 class="g-general-title">Color title <span>porcion</span></h2>	 			
</div>
<!--
<div class="block-general">
	 <div class="paginador-general">
	 	<ul class="paginador-lista">
			<li><a href="#" class="active"><span>1</span></a></li>
			<li><a href="#"><span>2</span></a></li>
			<li><a href="#"><span>3</span></a></li>
	 	</ul>
	 </div>	 			
</div>
-->
 
{% endblock %}
{% block jsfinal %}
<script type="text/javascript">

	 
</script>
{% endblock %}
