{% extends "common/_base.html" %}

{% block cssadicional %}
{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}
<section class="b14">
	<div class="wancho">
    	<div class="b14-bloque">
			<h2>GRACIAS</h2>
			<span>
				por comunicarte con nosotros	
			</span>
			<p>
				Estaremos encantados de darte una respuesta a la brevedad
			</p>    		
    	</div>
		<div class="b14-link">
		   <div class="g0-btn naranja">
			     <a href="{% url 'web:home' %}">Volver al home <i class=" icon-flecha-btn"></i></a>
			</div>
		</div>    		
	</div>
</section>
{% endblock %}

{% block jsfinal %}
{% endblock %}
