.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b3 {
  font-size: 0;
  background: -webkit-linear-gradient(left, #ef7a12 0%, #ef7a12 30%, rgba(239,122,18,0.8) 50%, rgba(239,122,18,0.38) 100%);
  background: -moz-linear-gradient(left, #ef7a12 0%, #ef7a12 30%, rgba(239,122,18,0.8) 50%, rgba(239,122,18,0.38) 100%);
  background: -o-linear-gradient(left, #ef7a12 0%, #ef7a12 30%, rgba(239,122,18,0.8) 50%, rgba(239,122,18,0.38) 100%);
  background: -ms-linear-gradient(left, #ef7a12 0%, #ef7a12 30%, rgba(239,122,18,0.8) 50%, rgba(239,122,18,0.38) 100%);
  background: linear-gradient(to right, #ef7a12 0%, #ef7a12 30%, rgba(239,122,18,0.8) 50%, rgba(239,122,18,0.38) 100%);
}
.b3 .g0-btn {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 50px;
}
.b3 .g0-btn.azul:hover {
  background: #002b56;
}
.b3 .g0-btn.azul:hover i:before {
  color: #002b56;
}
.b3-wrapper-contenido {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  height: 385px;
}
.b3-titu {
  color: #fff;
  font-family: 'Conv_Lato-Regular', sans-serif;
  position: relative;
  top: -100px;
}
.b3-titu h3 {
  margin: 0;
  font-size: 30px;
  text-transform: uppercase;
}
.b3-titu p {
  margin: 0;
  font-size: 18px;
  max-width: 498px;
  padding-top: 35px;
}
.b3-figure {
  position: relative;
  top: 0;
}
.b3-figure img {
  max-width: 100%;
  height: auto;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .b3-medium:nth-of-type(1) {
    width: 65%;
  }
  .b3-medium:nth-of-type(2) {
    width: 45%;
    position: absolute;
    right: 0%;
    bottom: 0;
  }
  .b3-wrapper-contenido {
    position: relative;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -o-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .b3-titu {
    top: -97px;
  }
  .b3-titu p {
    font-size: 16px;
    padding-top: 37px;
  }
  .b3-titu h3 {
    font-size: 25px;
  }
  .b3 .g0-btn {
    margin-top: 63px;
  }
}
@media screen and (max-width: 600px) {
  .b3-wrapper-contenido {
    display: block;
    height: auto;
  }
  .b3-figure {
    top: 0;
  }
  .b3-titu {
    text-align: center;
    top: 0;
  }
  .b3-titu p {
    max-width: 100%;
    padding-bottom: 25px;
    padding-top: 15px;
  }
  .b3 {
    padding-top: 30px;
    margin-bottom: 0px;
  }
  .b3 .g0-btn {
    margin: auto;
  }
  .b3-medium:nth-of-type(1) {
    width: 100%;
    margin: 0 auto;
  }
  .b3-medium:nth-of-type(2) {
    position: relative;
    width: 80%;
    margin: 20px auto 0;
  }
}
@media screen and (max-width: 480px) {
  .b3 {
    padding-top: 33px;
  }
  .b3-titu h3 {
    font-size: 20px;
  }
  .b3-titu p {
    font-size: 15px;
    padding-top: 27px;
  }
}
